.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;}
    
.bai4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 20px;
                    
}
#backg{
    background-image: url(/Tuan3.4.5/img/fl-anime.gif), url(/Tuan3.4.5/img/sakura-gif.gif);
    background-position: right bottom,left top;
    background-repeat: repeat,no-repeat;
}

.container,.row {
  width: 100%;
}

.container {
  width: 100%;
  
}

.row::before,.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

.left,.center,.right {
  float: left;
  width: 26%;
  margin: 0 1%;
}
.header{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}
.col1,.col2,.col3 {
    float: left;
    width: 26%;
    margin: 0 1%;
    border-right: 0.5px solid rgb(112, 112, 216);
  }

.cont{
    width:70%;
    text-align: center;
    margin: 0 auto;
}
.a{

    border-left: 10px solid pink;
    border-right: 10px solid yellow;
    border-top: 10px solid greenyellow;
    border-bottom: 10px solid blue;
}
.b{

    border-left: 10px solid pink;
    border-right: 10px solid yellow;
    border-top: 10px solid greenyellow;
    border-bottom: 10px solid blue;
    border-style: solid dotted groove double;
}
.c{

    border-left: 20px solid pink;
    border-right: 10px solid yellow;
    border-top: 5px solid greenyellow;
    border-bottom: 15px solid blue;
}
.d{
    border-left: 10px solid pink;
    border-right: 10px solid yellow;
    border-top: 10px solid greenyellow;
    border-bottom: 10px solid blue;
    border-radius: 0px 30px 70px 20px;
    -webkit-border-radius: 0px 30px 70px 20px;
    -moz-border-radius: 0px 30px 70px 20px;
    -ms-border-radius: 0px 30px 70px 20px;
    -o-border-radius: 0px 30px 70px 20px;
}
.e{
    border-width: 4px 30px 4px 30px;
    border-style: groove ridge dashed groove;
    border-color: #11e746;
    border-radius:100px 100px 0 0;
    -moz-border-radius:100px 100px 0 0;
    -webkit-border-radius:100px 100px 0 0;
    -ms-border-radius:100px 100px 0 0;
    -o-border-radius:100px 100px 0 0;
    width: 40%;
}
.f{
    border-width:5px ;
    border-style:solid;
    border-color:yellow;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    width: 45%;
}
.g{
    border-width:0px 12px 0px 12px ;
    border-style:double;
    border-color:rgb(226, 9, 154);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    width: 45%;
    height: 50px;
}
.h{
    border-width:2px ;
    border-style:solid;
    border-color:rgb(9, 78, 226);
    border-radius:20px 100px 100px 20px;
    -webkit-border-radius:20px 100px 100px 20px;
    -moz-border-radius:20px 100px 100px 20px;
    -ms-border-radius:20px 100px 100px 20px;
    -o-border-radius:20px 100px 100px 20px;
    width: 45%;
    height: 50px;
}
.i{
    background: greenyellow;
    border-width:1px 30px 4px 30px; border-style: solid;
    border-color: #56c6d9 #56c6d9 #fe2192 #fe2192;
    border-radius:0 120px 0 120px; 
    -moz-border-radius:0 120px 0 120px;
    -webkit-border-radius:0 120px 0 120px;
 }
.j{
    width: 200px;
    padding: 8px;
    background-color: #428bca;
    order-color: #357ebd;
    color: #ffffff;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    border-radius: 10px; -khtml-border-radius: 10px;
    text-align: center;
    vertical-align: middle; border: 1px solid transparent;
    font-weight: 900; font-size:125%
}
img:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
  }
.table-container{
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}
.logo img{
    width:170px ;
    height: 100px;
    border:1px solid red;
    float: left;
    margin: 5px;
    object-fit: contain;
    padding: 1px;
}
.head{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(139, 15, 15)
}
.animate {
    width: 100px;
    height: 100px;
    background-color:yellow;
    animation-name: move-right; 
    animation-duration: 1s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
  }
  
  
  @keyframes move-right {
    0% {
      transform:translateX(0px) rotate(180deg);
      -webkit-transform:translateX(0px) rotate(180deg);
      -moz-transform:translateX(0px) rotate(180deg);
      -ms-transform:translateX(0px) rotate(180deg);
      -o-transform:translateX(0px) rotate(180deg);
}
    
    100% {
        transform: translateX(500px) rotate(360deg);
        -webkit-transform: translateX(500px) rotate(360deg);
        -moz-transform: translateX(500px) rotate(360deg);
        -ms-transform: translateX(500px) rotate(360deg);
        -o-transform: translateX(500px) rotate(360deg);
}

}
  

.ribbon{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    box-shadow: 0 0 10px rgb(185, 136, 136);
    background-color:red;
    width: 170px;
    height: 30px;
    text-align: center;
    

}




